[Desktop Entry]
Categories=AudioVideo;
Exec=/usr/bin/flatpak run --branch=master --arch=x86_64 --command=Matrix com.bitscripts.matrix
Icon=com.bitscripts.matrix.png
Name=Matrix
Version=1.0
Type=Application
Comment=Video processing with Matrix effect
